
.table {
    width: 400px;
    margin: auto;
    border:1px black solid;
  }
  
  .row {
    background-color: black;
    color: white;
  }
  
  th {
    width: calc(100% / 3); 
    text-align: center;
  }
  
  .body:nth-child(even) {
    background-color: rgb(174, 172, 172);
  }
  
  .body:nth-child(odd) {
    background-color: white; 
  }
  
  td {
    text-align: center;
  }
  