.friendList {
  overflow: hidden;
  display: flex;
  gap: 5px;
  align-items: center;
  flex-direction: row;
  margin: 12px auto;
  width: 400px;
  height: auto;
  padding-top: 20px;
  padding-left: 0;
  list-style: none;
}

.friendItem {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px black solid;
  border-radius: 5px;
  width: calc(100% / 5);
  padding-top: 4px;
}


